<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatting_in_web.dao.ChatDao">

    <insert id="SaveMessage" parameterType="com.example.chatting_in_web.entity.ChatMessage">
        insert into group_content (group_id,username,phone_number,content,create_time)values
                (#{group_id},#{username},#{phone_number},#{content},#{create_time})
    </insert>

    <select id="getDB" parameterType="java.lang.Integer">
        select group_id,username,phone_number,content,create_time from group_content where group_id = #{group_id}
    </select>

    <insert id="SaveMoreMessage" >

    </insert>
</mapper>